## Day 5(21-09-2019) Objectives:
- iterative statements
- jumping statements
- python Datastructures
    - list
    - tuple
    - Dictionaries
    - sets

### iterative statements:
- Doing task again and again
- two types of iterative statements
    - for loop
    - while loop

In [6]:

range(5,19,46)
range(2,10)
range(7)

range(0, 7)

In [13]:
'a' in 'hi ra'
'101' in '101100101'
'101100101'.count('101')

2

In [18]:
for var_name in range(10):
    print(var_name)

0
1
2
3
4
5
6
7
8
9

In [17]:
for var_name in range(10):
    print(var_name,end=",")

0,1,2,3,4,5,6,7,8,9,

In [27]:
for j in range(2,10):
    print(j,end=" ")

2 3 4 5 6 7 8 9

In [34]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [36]:
# print 0 t0 100 even numbers: 

for even in range(0,100,2):
    print(even,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [41]:
# print 1 to 100 odd numbers:

for odd in range(1,100,2):
    print(odd,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [45]:
for reverse in range(10,0,-1):
    print(reverse,end=" ")

10 9 8 7 6 5 4 3 2 1

In [47]:
# print even numbers in between 1 to 100 in reverse order

for reverse in range(100,0,-2):
    print(reverse,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [58]:
# print odd numbers in between 1 to 100 in reverse order

for reverse in range(99,0,-2):
    print(reverse,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [62]:
name="apssdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])

a
c
c

In [68]:
for index in range(len(name)):
    print(name[index])

a
p
s
s
d
c

In [70]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [74]:
for ch in name:
    print(ch,end=",")

a,p,s,s,d,c,

In [90]:
# generate math table:

n=int(input("enter n value:"))
for i in range(1,11):
      print(n,'x',i,'=',n*i)

enter n value:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [102]:
# math tables for given range:

n=int(input("enter n value:"))
for j in range(1,n+1):
    for i in range(1,11):
        print(j,'x',i,'=',j*1)
    print(" ")

enter n value:9
1 x 1 = 1
1 x 2 = 1
1 x 3 = 1
1 x 4 = 1
1 x 5 = 1
1 x 6 = 1
1 x 7 = 1
1 x 8 = 1
1 x 9 = 1
1 x 10 = 1

2 x 1 = 2
2 x 2 = 2
2 x 3 = 2
2 x 4 = 2
2 x 5 = 2
2 x 6 = 2
2 x 7 = 2
2 x 8 = 2
2 x 9 = 2
2 x 10 = 2

3 x 1 = 3
3 x 2 = 3
3 x 3 = 3
3 x 4 = 3
3 x 5 = 3
3 x 6 = 3
3 x 7 = 3
3 x 8 = 3
3 x 9 = 3
3 x 10 = 3

4 x 1 = 4
4 x 2 = 4
4 x 3 = 4
4 x 4 = 4
4 x 5 = 4
4 x 6 = 4
4 x 7 = 4
4 x 8 = 4
4 x 9 = 4
4 x 10 = 4

5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
5 x 10 = 5

6 x 1 = 6
6 x 2 = 6
6 x 3 = 6
6 x 4 = 6
6 x 5 = 6
6 x 6 = 6
6 x 7 = 6
6 x 8 = 6
6 x 9 = 6
6 x 10 = 6

7 x 1 = 7
7 x 2 = 7
7 x 3 = 7
7 x 4 = 7
7 x 5 = 7
7 x 6 = 7
7 x 7 = 7
7 x 8 = 7
7 x 9 = 7
7 x 10 = 7

8 x 1 = 8
8 x 2 = 8
8 x 3 = 8
8 x 4 = 8
8 x 5 = 8
8 x 6 = 8
8 x 7 = 8
8 x 8 = 8
8 x 9 = 8
8 x 10 = 8

9 x 1 = 9
9 x 2 = 9
9 x 3 = 9
9 x 4 = 9
9 x 5 = 9
9 x 6 = 9
9 x 7 = 9
9 x 8 = 9
9 x 9 = 9
9 x 10 = 9

In [106]:
n=int(input("enter n value:"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,'x',i,'=',i*j,end="     ")
    print("")

enter n value:4
1 x 1 = 1     2 x 1 = 2     3 x 1 = 3     4 x 1 = 4
1 x 2 = 2     2 x 2 = 4     3 x 2 = 6     4 x 2 = 8
1 x 3 = 3     2 x 3 = 6     3 x 3 = 9     4 x 3 = 12
1 x 4 = 4     2 x 4 = 8     3 x 4 = 12     4 x 4 = 16
1 x 5 = 5     2 x 5 = 10     3 x 5 = 15     4 x 5 = 20
1 x 6 = 6     2 x 6 = 12     3 x 6 = 18     4 x 6 = 24
1 x 7 = 7     2 x 7 = 14     3 x 7 = 21     4 x 7 = 28
1 x 8 = 8     2 x 8 = 16     3 x 8 = 24     4 x 8 = 32
1 x 9 = 9     2 x 9 = 18     3 x 9 = 27     4 x 9 = 36
1 x 10 = 10     2 x 10 = 20     3 x 10 = 30     4 x 10 = 40

In [107]:
# print *'s without using nested loops

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [112]:
# biggest of 3 numbers using functions:

a=int(input("Enter a value:"))
b=int(input("enter b values:"))
c=int(input("enter c values"))
def big(a,b,c):
    if a>b and a>c:
        return(a)
    elif b>c:
        return(b)
    else:
        return(c)
print("Biggest numnber:",big(a,b,c))

Enter a value:5
enter b values:6
enter c values2
Biggest numnber: 6

In [ ]:
#+ of 3 numbers using functions:

a=int(input("Enter a value:"))
b=int(input("enter b values:"))
c=int(input("enter c values"))
def big(a,b,c):
    if a>b and a>c:
        return(a)
    elif b>c:
        return(b)
    else:
        return(c)
print("Biggest numnber:",big(a,b,c))