## Day 5(21-09-2019) Objectives:
- iterative statements
- jumping statements
- python Datastructures
    - list
    - tuple
    - Dictionaries
    - sets

### iterative statements:
- Doing task again and again
- two types of iterative statements
    - for loop
    - while loop

In [1]:

range(5,19,46)
range(2,10)
range(7)

range(0, 7)

In [2]:
'a' in 'hi ra'
'101' in '101100101'
'101100101'.count('101')

2

In [3]:
for var_name in range(10):
    print(var_name)

0
1
2
3
4
5
6
7
8
9

In [4]:
for var_name in range(10):
    print(var_name,end=",")

0,1,2,3,4,5,6,7,8,9,

In [5]:
for j in range(2,10):
    print(j,end=" ")

2 3 4 5 6 7 8 9

In [6]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [7]:
# print 0 t0 100 even numbers: 

for even in range(0,100,2):
    print(even,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [8]:
# print 1 to 100 odd numbers:

for odd in range(1,100,2):
    print(odd,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [9]:
for reverse in range(10,0,-1):
    print(reverse,end=" ")

10 9 8 7 6 5 4 3 2 1

In [10]:
# print even numbers in between 1 to 100 in reverse order

for reverse in range(100,0,-2):
    print(reverse,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [11]:
# print odd numbers in between 1 to 100 in reverse order

for reverse in range(99,0,-2):
    print(reverse,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [12]:
name="apssdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])

a
c
c

In [13]:
for index in range(len(name)):
    print(name[index])

a
p
s
s
d
c

In [14]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [15]:
for ch in name:
    print(ch,end=",")

a,p,s,s,d,c,

In [16]:
# generate math table:

n=int(input("enter n value:"))
for i in range(1,11):
      print(n,'x',i,'=',n*i)

enter n value:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [17]:
# math tables for given range:

n=int(input("enter n value:"))
for j in range(1,n+1):
    for i in range(1,11):
        print(j,'x',i,'=',j*1)
    print(" ")

enter n value:7
1 x 1 = 1
1 x 2 = 1
1 x 3 = 1
1 x 4 = 1
1 x 5 = 1
1 x 6 = 1
1 x 7 = 1
1 x 8 = 1
1 x 9 = 1
1 x 10 = 1

2 x 1 = 2
2 x 2 = 2
2 x 3 = 2
2 x 4 = 2
2 x 5 = 2
2 x 6 = 2
2 x 7 = 2
2 x 8 = 2
2 x 9 = 2
2 x 10 = 2

3 x 1 = 3
3 x 2 = 3
3 x 3 = 3
3 x 4 = 3
3 x 5 = 3
3 x 6 = 3
3 x 7 = 3
3 x 8 = 3
3 x 9 = 3
3 x 10 = 3

4 x 1 = 4
4 x 2 = 4
4 x 3 = 4
4 x 4 = 4
4 x 5 = 4
4 x 6 = 4
4 x 7 = 4
4 x 8 = 4
4 x 9 = 4
4 x 10 = 4

5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
5 x 10 = 5

6 x 1 = 6
6 x 2 = 6
6 x 3 = 6
6 x 4 = 6
6 x 5 = 6
6 x 6 = 6
6 x 7 = 6
6 x 8 = 6
6 x 9 = 6
6 x 10 = 6

7 x 1 = 7
7 x 2 = 7
7 x 3 = 7
7 x 4 = 7
7 x 5 = 7
7 x 6 = 7
7 x 7 = 7
7 x 8 = 7
7 x 9 = 7
7 x 10 = 7

In [18]:
n=int(input("enter n value:"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,'x',i,'=',i*j,end="     ")
    print("")

enter n value:5
1 x 1 = 1     2 x 1 = 2     3 x 1 = 3     4 x 1 = 4     5 x 1 = 5
1 x 2 = 2     2 x 2 = 4     3 x 2 = 6     4 x 2 = 8     5 x 2 = 10
1 x 3 = 3     2 x 3 = 6     3 x 3 = 9     4 x 3 = 12     5 x 3 = 15
1 x 4 = 4     2 x 4 = 8     3 x 4 = 12     4 x 4 = 16     5 x 4 = 20
1 x 5 = 5     2 x 5 = 10     3 x 5 = 15     4 x 5 = 20     5 x 5 = 25
1 x 6 = 6     2 x 6 = 12     3 x 6 = 18     4 x 6 = 24     5 x 6 = 30
1 x 7 = 7     2 x 7 = 14     3 x 7 = 21     4 x 7 = 28     5 x 7 = 35
1 x 8 = 8     2 x 8 = 16     3 x 8 = 24     4 x 8 = 32     5 x 8 = 40
1 x 9 = 9     2 x 9 = 18     3 x 9 = 27     4 x 9 = 36     5 x 9 = 45
1 x 10 = 10     2 x 10 = 20     3 x 10 = 30     4 x 10 = 40     5 x 10 = 50

In [19]:
# print *'s without using nested loops

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [20]:
# biggest of 3 numbers using functions:

a=int(input("Enter a value:"))
b=int(input("enter b values:"))
c=int(input("enter c values"))
def big(a,b,c):
    if a>b and a>c:
        return(a)
    elif b>c:
        return(b)
    else:
        return(c)
print("Biggest numnber:",big(a,b,c))

Enter a value:5
enter b values:6
enter c values3
Biggest numnber: 6

In [21]:
# of 3 numbers using functions:

a=int(input("Enter a value:"))
b=int(input("enter b values:"))
c=int(input("enter c values"))
def big(a,b,c):
    if a<b and a<c:
        return(a)
    elif b<c:
        return(b)
    else:
        return(c)
print("smallest numnber:",big(a,b,c))

Enter a value:2
enter b values:5
enter c values1
smallest numnber: 1

In [37]:
# even numbers in given range using functions:

start_val=int(input("Enter a starting  number:"))
end_val=int(input("Enter a ending number:"))
def even(a,b):
    for i in range(a,b+1):
        if i%2==0:
            print(i)
even(start_val,end_val)

Enter a starting  number:1
Enter a ending number:20
2
4
6
8
10
12
14
16
18
20

In [38]:
# print odd numbers in a given range using functions:

start_val=int(input("Enter a starting  number:"))
end_val=int(input("Enter a ending number:"))
def even(a,b):
    for i in range(a,b+1):
        if i%2!=0:
            print(i)
even(start_val,end_val)

Enter a starting  number:2
Enter a ending number:25
3
5
7
9
11
13
15
17
19
21
23
25

In [40]:
# Factoraial of given number:

def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

In [28]:
num=int(input("Enter a number"))
print(fact(num))

Enter a number4
24

In [29]:
# print factorial of a numbers in between range using function:

start_val=int(input("Enter a starting  number"))
end_val=int(input("Enter a ending number"))
for i in range(start_val,end_val+1):
    print(fact(i))

Enter a starting  number2
Enter a ending number10
2
6
24
120
720
5040
40320
362880
3628800

In [12]:
# Build logic to find given numbers is a prime or not  using function:

n=int(input("enter n value:"))
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:8
        
        print("is prime")
    else:
        print("is not prime")
prime(n)

enter n value:5
is prime

In [15]:
# Print prime numbers in between 1 to 100 using functions:

start_val=int(input("Enter a starting  number:"))
end_val=int(input("Enter a ending number:"))
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
for  i in range(start_val,end_val+1):
    print(i)
prime(i)

Enter a starting  number:5
Enter a ending number:20
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Jumping statements:
- break
- continue

In [5]:
for i in range(1,100):
    if i==50:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [7]:
for i in range(1,100):
    if i%5==0:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [8]:
for i in range(1,100):
    if i%5==0:
        print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

## Python datastructures:

### List:
- it is datastructure
- it is mutable
- for defining list we usin [and]
- and also it is a data type

In [20]:
li=[123,53.4,'vasudha']
print(li,type(li))

[123, 53.4, 'vasudha'] <class 'list'>

123

In [24]:
li[0]
print(li[:1])
print(li[1:])
print(li[::-1])

[123]
[53.4, 'vasudha']
['vasudha', 53.4, 123]

In [25]:
l1=[1,3,4,5,6]
print(li,l1)

[123, 53.4, 'vasudha'] [1, 3, 4, 5, 6]

In [27]:
print(li+l1)
l2=li+l1

[123, 53.4, 'vasudha', 1, 3, 4, 5, 6]

In [28]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
li.append(50)

In [33]:
li

[123, 53.4, 'vasudha', 50, 50]

In [36]:
li

[123, 53.4, 'vasudha', 50, 50, 50, 50]

In [37]:
li.insert(2,64)

In [38]:
li

[123, 53.4, 64, 'vasudha', 50, 50, 50, 50]

In [41]:
li.pop()

50

In [42]:
li

[123, 53.4, 64, 'vasudha', 50]

In [44]:
li.remove('vasudha')

In [45]:
li

[123, 53.4, 64, 50]

In [46]:
l1.clear()

In [47]:
l1

[]

In [48]:
del l1

In [50]:
li

[123, 53.4, 64, 50]

In [51]:
li1=li

In [52]:
li1,li

([123, 53.4, 64, 50], [123, 53.4, 64, 50])

In [53]:
li1.append(78)

In [54]:
li,li1

([123, 53.4, 64, 50, 78], [123, 53.4, 64, 50, 78])

In [55]:
li.remove(53.4)

In [56]:
li,li1

([123, 64, 50, 78], [123, 64, 50, 78])

In [57]:
li.pop()

78

In [58]:
li,li1

([123, 64, 50], [123, 64, 50])

In [59]:
li2=li.copy()

In [61]:
li2,li

([123, 64, 50], [123, 64, 50])

In [64]:
help(li)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [65]:
li.append(24)

In [66]:
li,li2

([123, 64, 50, 24], [123, 64, 50])

In [69]:
li.count(24)

1

In [71]:
li.append(li2)

In [72]:
li

[123, 64, 50, 24, [123, 64, 50], [123, 64, 50]]

In [73]:
li[3]

24

In [74]:
li[4]

[123, 64, 50]

In [75]:
li1=li.copy()

In [76]:
li1,li

([123, 64, 50, 24, [123, 64, 50], [123, 64, 50]],
 [123, 64, 50, 24, [123, 64, 50], [123, 64, 50]])

In [79]:
li[4][1]

64

In [80]:
li.pop()

[123, 64, 50]

In [81]:
li.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [83]:
li

[123, 64, 50, 24, [123, 64, 50]]

In [86]:
li.pop()

[123, 64, 50]

In [87]:
li

[123, 64, 50, 24]

In [92]:
li.sort()
li

[24, 50, 64, 123]

In [89]:
li.reverse()

In [90]:
li

[123, 64, 50, 24]

In [94]:
max(li)

123

In [95]:
min(li)

24

In [96]:
sum(li)

261

In [2]:
n= int(input())
vals=list(map(int,input().split()))
print(sum(vals))

5
1 2 3 4 5 6 7 8 9 10
55

In [6]:
# Dynamic list genertion
li=[]  # li=list()
n=int(input("Enter the size of list:"))
for i in range(n):
    val=int(input("Enter value:"))
    li.append(val)
print(li)
print("Max value is:",max(li))
print("Min value is:",min(li))
print("sum value is:",sum(li))
print("avg value is:",sum(li)/n)

Enter the size of list:5
Enter value:1
Enter value:2
Enter value:3
Enter value:4
Enter value:5
[1, 2, 3, 4, 5]
Max value is: 5
Min value is: 1
sum value is: 15
avg value is: 3.0

## Tuples:
- it is a data structure
- it is a data type
- it is a immutable
- for defining tuples use the paranthesis ()

In [7]:
t=(4134,5543.3,"vasu")
t

(4134, 5543.3, 'vasu')

In [8]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [10]:
t.index('vasu')

2

In [11]:
list(t)

[4134, 5543.3, 'vasu']

## Sets
- it is data structure
- it is a data type
- {}

In [12]:
s={1,2,3,4,5,6,7,8,9}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [19]:
str=input("enter a string")
str1=str.split()
str.startswith('a')
for i in

enter a stringbdg  hufg andb andb

False

In [25]:
name=input("enter a string").split()
name

enter a stringabdul anil ajay vinay sunil siva

['abdul', 'anil', 'ajay', 'vinay', 'sunil', 'siva']

In [21]:
#  print names starts with 'a':

for i in name:
    if i.startswith('a'):
        print(i)

abdul
anil
ajay

In [27]:
#  print names ends with 'l':

for i in name:
    if i.endswith('l'):
        print(i)

abdul
anil
sunil

In [11]:
#  print frequency of each word:

names=input()
names=names.split()
for name in names:
    print(name,names.count(name))

abdul anil ajay abdul sunil ajay
abdul 2
anil 1
ajay 2
abdul 2
sunil 1
ajay 2

In [33]:
# print count and sum of digits:

str=input("enter string:")
sm=0
c=0
for i in str:
    if i.isdigit():
        sm=sm+int(i)
        c=c+1
print(sm)

enter string:gfdh24h26
14

In [35]:
#  print sum of digits:

str=input("enter string:").split()
sm=0
c=0
for i in str:
    if i.isdigit():
        sm=sm+int(i)
        c=c+1
print(sm)

enter string: abdul 34 26 sunil siva 45
105