# Day Objectives:
- Python Introduction
- Variables
- operators
- String and String Functions

## Python introduction:
#### For defining python
- Highlevel
- Interpriter
- oop's
- multipurpose
- Dynamic

In [2]:
c=0
print(type(c))
c=5/2
print(type(c))
c="a"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## Variables:

- we can store values temperarly

## Variable assignments
- assigning single value to multiple variables
- assigning different type of values to different variables in line

- by using second way i can perform swapping without using temp

In [10]:
a=b=c=10
print(a,b,c)
print(b)
print(c)

10 10 10
10
10

In [26]:
name,age,rollnum="vasudha",20.5,"1234a567a89"
print(type(name)) 
print(type(age))
print(type(rollnum))

<class 'str'>
<class 'float'>
<class 'str'>

In [25]:
print(name,type(name)) 
print(age,type(age))
print(rollnum,type(rollnum))

vasudha <class 'str'>
20.5 <class 'float'>
123456789 <class 'int'>

In [33]:
a,b=10,20
print(a,b)
a,b=20,10
print(a,b)

10 20
20 10

In [34]:
a,b=10,20
a=a+b
b=a-b
a=a-b
a,b

(20, 10)

In [36]:
a,b=10,20
a,b=b,a
a,b

(20, 10)

#### Reading values from user:
- in pytho we can use input() for reading values from user

In [1]:
a=input("Enter a value:")
a

Enter a value:356

'356'

In [2]:
b=int(input("Enter b value:"))
print(type(b))

Enter b value:5412
<class 'int'>

In [11]:
name=str(input("Enetr name:"))
print("welcome",name)

Enetr name:vasu
welcome vasu

#### Mode of Execution:
- We have two ways
    - Interactive mode:
        - we can write something and we can see result there only
    - Scripting modeL:
        - we can build logic in file.py

### Operators:
- we can perform arithemetic and logical operations
#### types:
- Arithemetic operations--> + , - , * , / , % , // ,**
- Relational operators-->< , > , <= , >= , == , !=
- Logical operator--> and ,or ,not
- Betwise operator-->& , | , << ,>>
- Assignment operator--> +=,*=,-=,/=,//=,%=,**=,<=,>=
- membership operator--> in , not in
- Identity operator--> is ,is not

In [12]:
4/2

2.0

In [15]:
3>5
5<=5
a,b=5,6
a>b

False

In [5]:
a,b,c,d=5,8,4,9
a<b and c>d
a<b or c<d
not a>b

True

In [6]:
2&3

2

In [10]:
2|3
2<<1
2>>1

1

In [12]:
a=1
a+=100
a

101

In [15]:
arr=[1,2,3,4,5]
6 in arr
50 not in arr

True

In [23]:
2 is not 2
'abc' is not 'abc'
id(2) is id(3)

False

##