## List or Dictionary or Tuples Comprehension

In [11]:
nums=[i for i in range(int(input()))]

10

In [12]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
sqrs=[i**2 for i in range(1,10)]

In [17]:
sqrs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
even=[i for i in range(0,10,2)]

In [21]:
even

[0, 2, 4, 6, 8]

In [22]:
odd=[i for i in range(1,10,2)]

In [23]:
odd

[1, 3, 5, 7, 9]

In [24]:
vals=[i for i in range(1,100) if i%2==0]

In [25]:
vals

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [30]:
val=[i for i in range(1,100) if i%2!=0]

In [31]:
val

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [36]:
v=[int(i) for i in input().split()]

1 2 3 4 5 6 7 8 9

In [37]:
v

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
vals=input().split()
print(vals)
li=[]
for i in vals:
    li.append(int(i))
li

1 2 3 4 5 6 7 8 9 0
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [39]:
vals=list(map(int,input().split()))

1 23 4 5 6

In [40]:
def int1(x):
    return int(x)
vals=list(map(int1,input("Enter a numbers:").split()))

Enter a numbers:1 2 3 4 5  6 7  7 768 6

In [41]:
vals

[1, 2, 3, 4, 5, 6, 7, 7, 768, 6]

In [45]:
def int2(x):
    return int(x)**3
vals=list(map(int2,input("Enter numbers:").split()))

Enter numbers:1 2 3 4 5

In [46]:
vals

[1, 8, 27, 64, 125]

In [47]:
sum(vals)

225

In [50]:
def int2(x):
    return int(x)**3
sm=sum(list(map(int2,input("Enter numbers:").split())))
print(sm)

Enter numbers:1 2 3 4 5
225

In [58]:
sm=sum(list(i for i in range(int(input()))))
print(sm)

10
45

In [62]:
sm=sum(list(i**2 for i in range(1,int(input()))))
print(sm)

10
285

In [66]:
x=int(input())
[print(x,'*',i,"=",x*i) for i in range(1,11)]

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

[None, None, None, None, None, None, None, None, None, None]

In [67]:
nums=list("even" if i%2==0 else "odd" for i in range(1,10))